.image-block {
   display: inline-flex;
   align-items: center;
   width: 100%;
   gap: 52px;

   img {
      width: 700px;
   }

   h3 {
      margin-bottom: 10px;
      text-transform: uppercase;
   }

   &__descr {
      white-space: pre-line;
   }
}

@media screen and (max-width: 1920px) {
   .image-block {
      img {
         width: 500px;
      }
   }
}

@media screen and (max-width: 1050px) {
   .image-block {
      img {
         width: 350px;
      }
   }
}

@media screen and (max-width: 900px) {
   .image-block {
      flex-direction: column;
      gap: 10px;

      h3 {
         text-align: center;
      }
   }
}

@media screen and (max-width: 450px) {
   .image-block {
      img {
         width: 280px;
      }
   }
}

@media screen and (max-width: 350px) {
   .image-block {
      img {
         box-shadow: none;
      }
   }
}
