.image-block {
   display: inline-flex;
   align-items: center;
   width: 100%;
   gap: 52px;

   img {
      width: 60%;
   }

   h3 {
      margin-bottom: 10px;
      text-transform: uppercase;
   }
}
