.products {
   padding: 40px 0;
   text-align: center;

   &__wrapper {
      margin-top: 36px;
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
   }
}

@media screen and (max-width: 1100px) {
   .products {
      &__wrapper {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media screen and (max-width: 850px) {
   .products {
      padding: 20px 0;

      &__wrapper {
         margin-top: 20px;
      }
   }
}

@media screen and (max-width: 450px) {
   .products {
      &__wrapper {
         gap: 20px;
      }
   }
}
