.main-sect {
   width: 100%;
   position: relative;

   &__bg {
      z-index: -1;
      position: relative;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 2560px;
   }

   &__wrapper {
      left: 10vw;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      display: inline-flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
   }

   &__title {
      font-size: 40px;
   }
}

@media screen and (max-width: 850px) {
   .main-sect {
      &__wrapper {
         left: 5vw;
         width: 90vw;
         align-items: center;
         text-align: center;
      }

      &__bg {
         transform: translate3d(-50%, 10px, 0);
         width: 2000px;
      }

      &__title {
         font-size: 30px;
      }
   }
}

@media screen and (max-width: 500px) {
   .main-sect {
      &__wrapper {
         left: 3vw;
         width: 94vw;
      }

      &__title {
         font-size: 26px;
      }
   }
}
