.usage {
   &__icons {
      margin-top: 36px;
      gap: 60px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
   }

   .image-block {
      margin: 100px 0 80px 0;
   }
}

@media screen and (max-width: 750px) {
   .usage {
      &__icons {
         margin-top: 0;
         gap: 30px;
         grid-template-columns: repeat(2, 1fr);
      }

      .image-block {
         margin: 60px 0 40px 0;
      }
   }
}

@media screen and (max-width: 450px) {
   .usage {
      &__icons {
         gap: 20px;
         grid-template-columns: repeat(1, 1fr);
      }

      .image-block {
         margin: 50px 0 30px 0;
      }
   }
}
