.cooperation {
   padding: 80px 20px;
   background-color: #f6f6f6;
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__wrapper {
      margin-top: 30px;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      img {
         border-radius: 5px;
         width: 100px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.331);
      }
   }
}

@media screen and (max-width: 1000px) {
   .cooperation {
      margin-top: 40px;
      padding: 40px 20px;
   }
}
