@import './vars.scss';

.btn {
   cursor: pointer;
   padding: 12px 22px;
   text-transform: uppercase;
   border: none;
   letter-spacing: 1px;
   background-color: #fff;
   border-radius: 8px;
   transition: all 0.15s;

   &:hover {
      background-color: rgba($main-color, 0.7);
   }

   &_border {
      border: 1px solid #000;
   }

   &_main {
      background-color: $main-color;
   }
}
