@import './btn.scss';
@import './text.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Play', sans-serif;
}

html,
body {
   overflow-x: hidden;
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

a {
   display: block;
   color: #000;
   text-decoration: none;
   transition: all 0.15s;
}

address {
   font-style: normal;
}

.flex-reverse {
   flex-direction: row-reverse;
}

.shadow {
   box-shadow: 20px -20px 1px rgba($main-color, $alpha: 0.8);
   border-radius: 5px;

   &_left {
      box-shadow: -20px -20px 1px rgba($main-color, $alpha: 0.8);
   }
}

.no-scroll {
   overflow: hidden;
}

.fa-check {
   color: rgb(94, 174, 136);
}

.fa-xmark {
   color: rgb(199, 22, 57);
}

.wow {
   visibility: hidden;
}

.animate__animated {
   animation-duration: 1s;
}

.animate__fadeInLeft {
   animation-name: fadeInLeft;
}

.animate__fadeInRight {
   animation-name: fadeInRight;
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
   }

   100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      -webkit-transform: translate3d(20%, 0, 0);
      transform: translate3d(20%, 0, 0);
   }

   100% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
   }
}

@media screen and (max-width: 800px) {
   @keyframes fadeInLeft {
      0% {
         opacity: 0;
         -webkit-transform: translate3d(0, 20%, 0);
         transform: translate3d(0, 20%, 0);
      }

      100% {
         opacity: 1;
         -webkit-transform: translateZ(0);
         transform: translateZ(0);
      }
   }

   @keyframes fadeInRight {
      0% {
         opacity: 0;
         -webkit-transform: translate3d(0, 20%, 0);
         transform: translate3d(0, 20%, 0);
      }

      100% {
         opacity: 1;
         -webkit-transform: translateZ(0);
         transform: translateZ(0);
      }
   }
}
