.product-info {
   padding: 30px;
   margin: 50px 0 80px 0;
   border: 1px solid rgb(138, 138, 138);
   border-radius: 10px;

   &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
         height: 15vw;
      }
   }

   &__descr {
      width: 400px;
   }

   &__title {
      text-transform: uppercase;
   }

   &__data {
      display: grid;
      border-radius: 10px;
      gap: 1px;
      overflow: hidden;
      margin-top: 30px;

      &-category {
         display: grid;
         grid-template-columns: auto repeat(3, 1fr);
         gap: 1px;
         width: 100%;

         h5,
         p {
            background-color: rgb(228, 228, 228);
            padding: 5px;
         }

         p {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-width: 80px;
         }

         h5 {
            width: 450px;
            font-weight: bold;
         }
      }
   }
}

@media screen and (max-width: 1100px) {
   .product-info {
      padding: 20px;
      margin: 50px 0 50px 0;

      &__wrapper {
         img {
            height: 20vw;
         }
      }

      &__descr {
         width: auto;
      }

      &__data-category {
         h5 {
            width: 300px;
         }
      }
   }
}

@media screen and (max-width: 650px) {
   .product-info {
      margin: 30px 0 30px 0;

      &__wrapper {
         flex-direction: column;
         align-items: center;

         img {
            height: 30vw;
            margin-top: 10px;
         }
      }

      &__descr {
         text-align: center;
      }

      &__title {
         text-align: center;
      }

      &__data-category {
         h5 {
            width: 200px;
         }
      }
   }
}

@media screen and (max-width: 550px) {
   .product-info {
      &__data-category {
         grid-template-columns: 1fr;

         h5 {
            width: 100%;
            text-align: center;
         }

         p {
            font-weight: normal;
         }
      }
   }
}

@media screen and (max-width: 450px) {
   .product-info {
      margin: 30px 0 10px 0;

      &__wrapper {
         img {
            height: 35vw;
         }
      }
   }
}
