@import '../../styles/vars.scss';

.btn-to {
   width: 100%;
   display: flex;
   cursor: pointer;
   color: #000;

   &:hover {
      .btn {
         width: 100%;
         background-color: $main-color;
         border-radius: 5px !important;
      }

      i {
         width: 0;
         &::before {
            transform: translate3d(-60%, 0, 0);
         }
      }
   }

   .btn_main {
      width: 90%;
      border-radius: 0 0 0 5px;
      color: #000;
      transition: all 0.15s;
      z-index: 1;
   }

   i {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      background-color: scale-color($color: $main-color, $lightness: -15%);
      border-radius: 0 0 5px 0;
      transition: all 0.15s;

      &::before {
         transition: all 0.15s;
      }
   }
}
