.industries {
   padding: 40px 0;
   text-align: center;
   margin-top: 40px;

   .descr {
      margin-top: 10px;
   }

   &__wrapper {
      margin-top: 36px;
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
   }
}
